.text_grid{
    background-color: rgb(62, 118, 223);
    text-align: center;
    color: white;
}
.text_gridF{
    background-color: rgb(233, 53, 152);
    text-align: center;
    color: white;
}

#mvls{
    height: 10px;
    width: 10px;
}

.txtTexto{
    background-color: yellow;
    color: white;
}

.txtChecked{
    color: rgb(30, 19, 243);
}
.Forempresas{
    height: 50%;
    width: 50%;
    margin-left: 0%;
}
.logo1{
    height: 60%;
    width: 40%;
    margin-left: 0%;
}

.tamanho-pequeno{
    font-size: 12px;
    height: 50px;
    width: 100px;
}

.linha-vertical{
    border-right: 1px solid rgb(19, 18, 18);
    border-left: 1px solid rgb(19, 18, 18);
}

.linha-horizontal {
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.linha-verticalEstoque{
    border-bottom: 1px solid #000;
    border-right: 1px solid rgb(19, 18, 18);
    border-left: 1px solid rgb(19, 18, 18);
}