.text_grid{
    background-color: rgb(62, 118, 223);
    text-align: center;
    color: white;
}

#mvls{
    height: 10px;
    width: 10px;
}

.txtTexto{
    background-color: yellow;
    color: white;
}

.txtChecked{
    color: rgb(30, 19, 243);
}